{#
 # Default template
#}

<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        {{ function('wp_head') }}
        {% include connector ~ "_site-head.twig" %}
    </head>

    <body {% if body_class is defined and body_class is not empty %} class="{{ body_class }}" {% endif %} data-env="{{ environment }}">

        {% include connector ~ "header/_header.twig" with {
            header: {}
        } %}

        <main class="wrapper-content">
            {% include templates %}
        </main>

        {% include connector ~ 'footer/_footer.twig' with {
            footer: {
                copyright: options.copyright,
            }
        } %}

    </body>
    {{ function('wp_footer') }}

    {% if environment == "development" or environment == "staging" %}
        <!-- Version: {{ constant('APPLICATION_VERSION') ?: 'undefined' }}. Performance: {{ function('get_num_queries') }} queries in {{ function('timer_stop') }} seconds -->
    {% endif %}
</html>
